<div class="table-responsive">

<table class="table table-bordered table-hover">

    <thead class="table-primary">
        <tr>
            <th>Medicine</th>
            <th>Customer</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {% for s in sales %}
        <tr>
            <td>{{ s.medicine.name }}</td>
            <td>{{ s.customer.name }}</td>
            <td>{{ s.quantity }}</td>
            <td>Rs {{ s.total_price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center text-danger">
                No data found
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

</div>