{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">Welcome Admin 👋</h2>

<!-- TOP CARDS -->
<div class="row mb-4">

    <div class="col-md-4">
        <div class="card shadow-sm text-center p-3">
            <h6>Total Sales</h6>
            <h3 class="text-success">Rs {{ total_sales }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm text-center p-3">
            <h6>Total Purchase</h6>
            <h3 class="text-danger">Rs {{ total_purchase }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm text-center p-3">
            <h6>Total Profit</h6>
            <h3 class="text-primary">Rs {{ profit }}</h3>
        </div>
    </div>

</div>

<!-- MEDICINE TABLE -->
<div class="card shadow p-3">

    <h4 class="mb-3">All Medicines</h4>

    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Expiry</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for m in medicines %}
            <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.category }}</td>
                <td>{{ m.quantity }}</td>
                <td>{{ m.expiry_date }}</td>

                <td>
                    <a class="btn btn-sm btn-warning" href="{% url 'update_medicine' id=m.id %}">Update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_medicine' id=m.id %}">Delete</a>
                    <a class="btn btn-sm btn-info text-white" href="{% url 'profit' id=m.id %}">Profit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<!-- GRAPHS -->
<div class="card shadow p-4 mb-4">
    <h4 class="mb-3">Analytics 📊</h4>

    <div class="row">
        <div class="col-md-4">
         <canvas id="salesChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="purchaseChart"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="profitChart"></canvas>
        </div>
    </div>
   
</div>



<!-- Chart.js -->
 
<script>
document.addEventListener("DOMContentLoaded", function() {

    let monthlyData = JSON.parse('{{ monthly_sales|escapejs }}');
    let purchase = Number('{{ total_purchase|default:"0" }}');
    let profit = Number('{{ profit|default:"0" }}');
   console.log("Monthly Data:", monthlyData); 
    new Chart(document.getElementById('salesChart'), {
        type: 'line',
        data: {
            labels: [
                'Jan','Feb','Mar','Apr','May','Jun',
                'Jul','Aug','Sep','Oct','Nov','Dec'
            ],
            datasets: [{
                label: 'Monthly Sales',
                data: monthlyData,
                borderWidth: 2,
                fill: false
            }]
        }
    });

    new Chart(document.getElementById('purchaseChart'), {
        type: 'doughnut',
        data: {
            labels: ['Purchase'],
            datasets: [{
                data: [purchase]
            }]
        }
    });

    new Chart(document.getElementById('profitChart'), {
        type: 'doughnut',
        data: {
            labels: ['Profit'],
            datasets: [{
                data: [profit]
            }]
        }
    });

});
</script>


{% endblock %}
