<form method="POST">
    {% csrf_token %}

    <label>Customer:</label>
    <select name="customer">
        {% for c in customers %}
        <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>

    <div id="items">
        <div class="item">
            <select name="medicine">
                {% for m in medicines %}
                <option value="{{ m.id }}">{{ m.name }}</option>
                {% endfor %}
            </select>

            <input type="number" name="quantity" placeholder="Qty">
        </div>
    </div>

    <button type="button" onclick="addItem()">+ Add More</button>
    <button type="submit">Generate Bill</button>
</form>


<script>
function addItem() {
    let div = document.createElement("div");
    div.classList.add("item");

    div.innerHTML = `
        <select name="medicine">
            {% for m in medicines %}
            <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>

        <input type="number" name="quantity" placeholder="Qty">
    `;

    document.getElementById("items").appendChild(div);
}
</script>