<h2>Add Purchase</h2>

<form method="POST" >
    {% csrf_token %}

    <!-- New Medicine -->


         <label>New Medicine (optional):</label>
         <input type="text" placeholder="Enter new medicine" name="medicine_name" id="purchase">

    <!-- Select Existing Medicine -->
    <label>Select Medicine:</label>
    <select name="medicine_id" id="medicineSelect">
        <option value="">-- Select Medicine --</option>
        {% for m in medicines %}
        <option value="{{ m.id }}" data-price="{{m.price}}">
            {{ m.name }} | Stock: {{ m.quantity }}
        </option>
        {% endfor %}
    </select>
    
    <!-- Quantity -->
    <label>Quantity:</label>
    <input type="number" name="quantity" required id="qty">
    
    <!-- Price -->
    <label>Price:</label>
    <input type="number" step="0.01" name="price" required id="price">
    <label>Expiry Date:</label>
    <input type="date" name="expiry_date" required id="expiry">
    <!-- Supplier -->
    <label>Supplier:</label>
    <select name="supplier" >
        <option value="">-- Select Supplier --</option>
        {% for s in suppliers %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>
    
    <label >Payment Method:</label>
    <select name="payment_method" id="payment">
        <option value="cash">Cash</option>
        <option value="card">Card</option>
        <option value="online">Online</option>
    </select>
    
    <label>Payment Status:</label>
    <select name="payment_status" id="payment"> 
        <option value="paid">Paid</option>
        <option value="pending">Pending</option>
    </select>
  <button type="button" onclick="addToCart()">+more</button>
  <table id="addTable" border="1">
    <thead>
        <tr>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table
        <div id="hiddenInputs"></div>
    <button type="submit">Add Purchase</button>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
</form>

<script>
  function addToCart() {
    let medicineSelect = document.getElementById('medicineSelect');
    let qtyInput = document.getElementById('qty');
    let priceInput = document.getElementById('price');
    let expiryInput = document.getElementById('expiry');

    let qty = qtyInput.value;

    if (!qty || qty <= 0) {
        alert("Enter valid quantity");
        return;
    }

    let medId = medicineSelect.value;
    let medText = medicineSelect.options[medicineSelect.selectedIndex].text;
    let price = priceInput.value;
    let expiry = expiryInput.value;

    let table = document.getElementById("addTable").getElementsByTagName('tbody')[0];
    let row = table.insertRow();

    row.innerHTML = `
        <td>${medText}</td>
        <td>${qty}</td>
        <td>${price}</td>
        <td>${expiry}</td>
    `;

    // hidden inputs
    let hiddenDiv = document.getElementById('hiddenInputs');

    hiddenDiv.innerHTML += `
        <input type="hidden" name="medicine_id" value="${medId}">
        <input type="hidden" name="quantity" value="${qty}">
        <input type="hidden" name="price" value="${price}">
        <input type="hidden" name="expiry_date" value="${expiry}">
    `;
}
</script>