<h2>🧾 Latest Invoice</h2>

{% if current_invoice %}
    <div style="border:2px solid green; padding:10px; margin-bottom:20px;">
        <p><b>Customer:</b> {{ current_invoice.customer.name }}</p>

        <h4>Items:</h4>
        <ul>
            {% for item in current_invoice.items.all %}
                <li>
                    {{ item.medicine.name }} -
                    Qty: {{ item.quantity }} -
                    Price: {{ item.total_price }}
                </li>
            {% endfor %}
        </ul>

        <p><b>Subtotal:</b> {{ current_invoice.subtotal }}</p>
        <p><b>GST:</b> {{ current_invoice.tax }}</p>
        <h3><b>Total:</b> {{ current_invoice.total }}</h3>
    </div>
    <button onclick="window.print()">Print</button>
{% endif %}