<h2>Purchase Invoice</h2>

<h3>Current Invoice (Latest)</h3>

<p><b>Medicine:</b> {{ current_purchase.medicine.name }}</p>
<p><b>Qty:</b> {{ current_purchase.quantity }}</p>
<p><b>Price:</b> {{ current_purchase.price }}</p>

<button onclick="window.print()">Print</button>
<hr>


<table border="1">
<tr>
    <th>Medicine</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Total</th>
</tr>

{% for p in purchases %}
<tr>
    <td>{{ p.medicine.name }}</td>
    <td>{{ p.quantity }}</td>
    <td>{{ p.price }}</td>
<td>{{ p.total }}</td>
</tr>
{% endfor %}
</table>
