<h1>Medical Store Management System</h1>
<!-- <a href="/add_medicine/">Add Medicine</a> -->
<a href="/create_sale/">Sales</a>
<a href="/create_purchase/">Purchase</a>
<a href="/supplier/">Supplier</a>
<a href="/add_customer/">Add Customer</a>
<a href="/add_user/">Add user</a>
<a href="/login/">login</a>
<h3>All Medicines</h3>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Expiry</th>
    </tr>
    {% for m in medicines %}
    <tr>
        <td>{{m.name}}</td>
        <td>{{m.category}}</td>
        <td>{{m.quantity}}</td>
        <td>{{m.expiry_date}}</td>
        <td>
            <a href="{% url 'update_medicine' id=m.id %}">Update</a>
        </td>
        <td>
            <a href="{% url 'delete_medicine' id=m.id %}">Delete</a>
        </td>
        <td>

    <a href="{% url 'profit' id=m.id %}">View Profit</a>
</td>

    </tr>
{% endfor %}
</table>
<!-- <a href="/invoices">Invoices</a> -->


<h2>💊 Tablets</h2>
<ul>
    {% for t in tablets %}
    <li>{{ s.name }} (Stock: {{ t.quantity }})</li>
    {% endfor %}
</ul>
<h2>🧴 Syrups</h2>
<ul>
    {% for s in syrups %}
    <li>{{ s.name }} (Stock: {{ s.quantity }})</li>
    {% endfor %}
</ul>



<h4>TotalProfit :{{totalProfit}}</h4>

{% if m.quantity < 10 %}
<td style="color:red;">Low Stock</td>
{% endif %}
